                            <div class="elevated-box">
                                <ng-form class="form-horizontal contacts">
                                    <legend for="">
                                        <i class="material-icons">&#xE8A3;</i>
                                        Second Contact
                                    </legend>
                                    <label for="">First Name</label>
                                    <input ng-model="rc.secondContact.first" class="form-control" type="text" placeholder="First Name" required>
                                    
                                    <label for="">Last Name</label>
                                    <input ng-model="rc.secondContact.last" class="inputs form-control" type="text" placeholder="Last Name" required>

                                    <label for="">Position</label>
                                    <input ng-model="rc.secondContact.position" class="inputs form-control" type="text" placeholder="Position" required>

                                    <label for="">Email</label>
                                    <input ng-model="rc.secondContact.email" class="inputs form-control" type="email" placeholder="Email" required>

                                    <label for="">Phone</label>
                                    <input ng-model="rc.secondContact.phone" class="inputs form-control" type="tel" placeholder="Cell Phone" required>
                                </ng-form>  
                            </div>