                    <div class="elevated-box camper" ng-show="true || !rc.adultNeeded && rc.reg.adults.length == 1">
                        <div class="form-horizontal">
                            <legend>
                                <!--Walking Person-->
                                <i class="material-icons">&#xE536;</i>
                                Add Camper
                            </legend>
                                <label for="">First Name</label>
                                <input ng-model="rc.currentCamper.first" class="form-control" type="text" placeholder="First Name" required>
                                <label for="">Last Name</label>
                                <input ng-model="rc.currentCamper.last" class="form-control" type="text" placeholder="Last Name" required>
                                <label for="">Shirt Size</label>
                                <div class="select-container">
                                    <i class="material-icons">&#xE313;</i>

                                        <select ng-init="rc.currentCamper.shirt = 'Youth Large'" placeholder="choose shirt" ng-model="rc.currentCamper.shirt" class="form-control" required>
                                                <option>Youth Medium -- 10$</option>
                                                <option>Youth Large -- 10$</option>
                                                <option>Adult Small -- 10$</option>
                                                <option>Adult Medium -- 10$</option>
                                                <option>Adult Large -- 10$</option>
                                                <option>Adult XL -- 10$</option>
                                                <option>Adult 2XL -- 12$</option>
                                                <option>Adult 3XL -- 12$</option>
                                                <option>Adult 4XL -- 12$</option>
                                                <option>Adult 5XL -- 12$</option>
                                        </select>
                                </div>
                                <div class="">
                                        <label>
                                            Health Form
                                        </label>
                                        <div class="">
                                            <i 
                                            class="material-icons" 
                                            style="cursor:pointer;" 
                                            ng-click="rc.healthBoxChecked = !rc.healthBoxChecked">
                                                {{rc.healthBoxChecked? 'check_box' : 'check_box_outline_blank'}}
                                            </i>
                                            </br>
                                            <small>I acknowledge that this camper has a BSA health form</small>
                                        </div>
                                </div>

                                <button href="javascript:void(0)" 
                                        type="button" 
                                        class="btn btn-primary"
                                        ng-click="rc.addCamper(rc.currentCamper)">
                                    <i class="material-icons">person_add</i>
                                </button>
                        </div>
                    </div>   