                    <div class="elevated-box">
                        <ng-form action="" class="form-horizontal">
                            <legend>
                                <!--Account Box-->
                                <i class="material-icons">&#xE851;</i>
                                BSA Registered Adult
                            </legend>
                            <fieldset>
                                    <label for="">First Name</label>
                                    <input ng-model="rc.regAdult.first" type="text" class="form-control" placeholder="First Name" required>

                                    <label>Last Name</label>
                                    <input ng-model="rc.regAdult.last" type="text" class="form-control" placeholder="Last Name" required>

                                    <label title="Youth Protection Training Certification">YPT Completion Date</label>
                                    <input ng-model="rc.regAdult.date" type="text" class="form-control" placeholder="Date Registered" required>

                                    <label>Shirt Size</label>
                                        <shirt-select model="rc.regAdult.shirt" required="false"/>
                                    </div>
                            </fieldset>
                        </ng-form>
                    </div>