                    <div class="row">
                        <div class="col-sm-12">
                            <div class="elevated-box">
                                <ng-form class="form-horizontal">
                                        <label for="">Pack Number</label>
                                        <input ng-model="rc.packNum" class="form-control" type="text" placeholder="Pack Number" required>
                                        <label for="">Camp Number</label>
                                        <input ng-model="rc.campNum" class="form-control" type="text" ng-value="rc.campNum" placeholder="Camp Number" required disabled> 
                                </ng-form>
                            </div>
                        </div>
                    </div>