                            <div class="elevated-box">
                                <ng-form class="form-horizontal">
                                    <div class="contacts">
                                        <legend for="">
                                            <i class="material-icons">&#xE8A3;</i>
                                            Leader
                                        </legend>
                                        <div class="text-danger">
                                            Leader (can view and edit reservation)
                                        </div>
                                        <label for="">First Name</label>
                                        <input ng-model="rc.firstContact.first" class="form-control" type="text" placeholder="First Name" required>

                                        <label for="">Last Name</label>
                                        <input ng-model="rc.firstContact.last" class="inputs form-control" type="text" placeholder="Last Name" required>

                                        <label for="">Position</label>
                                        <input ng-model="rc.firstContact.position" class="inputs form-control" type="text" placeholder="Position" required>

                                        <label for="">Email</label>
                                        <input ng-model="rc.firstContact.email" class="inputs form-control" type="email" placeholder="Email" required>

                                        <label for="">Phone</label>
                                        <input ng-model="rc.firstContact.phone" class="inputs form-control" type="tel" placeholder="Cell Phone" required>
                                    </div>
                                </ng-form>
                            </div>