<div class='elevated-box'>
    <form>
        <div class="form-group">
                        
            <Label> I want to find ... (Scouts, Camps, etc.) </label>
            <select class="form-control" ng-model="ad.resource">
                <option ng-repeat="resource in ad.resources" value=" {{$index}} ">{{resource.displayName}} </option>
                </select>
                <label> By their...</label>
                <select class="form-control"  ng-model="ad.prop">
                <option ng-repeat="prop in ad.resources[ad.resource].props" value="{{prop.name}}">{{prop.displayName}}</option>
                <!--<option value="id">Id</option>
                <option value="reservationId">Reservation Id</option>-->
                
                </select>

                <label for="reservation">With the value of...</label>
            <input type="" class="form-control" id="reservation" placeholder="123, test@email.com, Johnny Q. Scout, etc." ng-model="ad.reservationNum">

            <button type="button" class="btn btn-primary" ng-click="ad.reservations(ad.reservationNum)">View Query</button>

    </form>
    </div>
</div>



<!--<div class="row">
    <div class="col-sm-8 col-sm-offset-2" ng-controller="adController as ad">
        <div class="elevated-box">
            <select name="" id="">
                <option value="" ng-repeat="year in ad.years">{{year.year}}</option>
            </select>
        </div>-->

        <div class="elevated-box">
            <table  class='table' show-filter='true'>
                <thead>
                    <tr>
                        <th ng-repeat="prop in ad.tableProps[ad.resource].props">{{prop.displayName}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="scout in ad.reservation">
                        <td 
                        ng-repeat="prop in ad.tableProps[ad.resource].props" 
                        ng-switch 
                        on="prop.name"
                        >
                            <input 
                            type="checkbox" 
                            ng-change="ad.save(scout.id, scout)" 
                            class="form-control"
                            ng-model="scout.healthForm"
                            ng-switch-when="healthForm"
                            />
                            <input 
                            type="checkbox" 
                            ng-change="ad.save(scout.id, scout)" 
                            class="form-control"
                            ng-model="scout.paid"
                            ng-switch-when="paid"
                            />
                            <span ng-switch-default>{{scout[prop.name]}}</span>
                        
                        </td>
                       
                        <td title = "'Remove'">
                            <button type= "button" class="btn btn-danger" ng-click="ad.remove(scout.id, scout, $index)"> Delete</button>
                            </td>
                    </tr>
                </tbody>
            </table>
                <button type="button" class="btn btn-primary" ng-click="ad.saveAll(ad.reservation)">Save All Changes</button>
        </div>
    </div>
</div>