    <div class="elevated-box">
        <button class='btn btn-raised btn-primary' ng-click='ad.add()'>Add Camp or Year</button>
    </div>

    <div class='elevated-box'>
        <form ng-submit="ad.masterSearch(ad.query)">
            <div class="form-group">

                <label> I want to find ... (Scouts, Camps, etc.) </label>
                <div class="select-container">
                    <i class="material-icons">&#xE313;</i>
                    <select name='' class="form-control" ng-model="ad.resource">
                        <option ng-repeat="resource in ad.resources" ng-value="$index">{{resource.displayName}} </option>
                    </select>
                </div>
                <label> By their...</label>
                <div class="select-container">
                    <i class="material-icons">&#xE313;</i>
                    <p></p>
                    <!--track by prop.name-->
                    <select name="propForm" class="form-control" ng-model="ad.prop">
                                        <!--<option 
                            ng-if="ad.resources[ad.resource].name == 'directors' || ad.resources[ad.resource].name == 'packs' || ad.resources[ad.resource].name == 'users' || ad.resources[ad.resource].name == 'districts'" 
                            value=''
                            >
                            All
                            </option>-->
                            
                            <option ng-repeat="prop in ad.resources[ad.resource].props" ng-value="prop.name">{{prop.displayName}}</option>
                            <!--<option value="id">Id</option>
                            <option value="reservationId">Reservation Id</option>-->
                    </select>
                </div>
                <label for="reservation">With the value of...</label>
                <input type="" class="form-control" id="reservation" placeholder="123, test@email.com, Johnny Q. Scout, etc." ng-model="ad.query">

                <button type="submit" class="btn btn-primary btn-raised">View Query</button>

            </div>
        </form>
    </div>

    <div class="elevated-box" ng-show="!(ad.loading==0 || ad.loading==100)">
        <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" ng-style="{width:ad.loading+'%'}">
                <span>Loading... {{ad.loadingDisplay + '%'}}</span>
            </div>
        </div>
    </div>
    <div class="elevated-box">
        <div class="alert alert-success alert-dismissable" ng-if="!!ad.error">
            <button type="button" class="close" data-dismiss="alert" ng-click="ad.reset()">x</button>
            <p>{{ad.error}}</p>
        </div>
        <table class='table' show-filter='true'>
            <legend>{{ad.tableProps[ad.resource].displayName}}</legend>
            <thead>
                <tr>
                    <div class="col-xs-6">
                        <th ng-repeat="prop in ad.tableProps[ad.resource].props">{{prop.displayName}}</th>
                    </div>
                    <div class="col-xs-6 text-right">
                        <button class="btn btn-primary btn-raised" ng-disabled="ad.viewState.table.editMode" ng-click="ad.viewState.table.editMode=!ad.viewState.table.editMode">
                            Edit
                        </button>
                        <button class="btn btn-primary btn-raised" ng-disabled="!ad.viewState.table.editMode" ng-click="ad.viewState.table.editMode=!ad.viewState.table.editMode">
                            View
                        </button>
                    </div>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="scout in ad.reservation">
                    <td ng-repeat="prop in ad.tableProps[ad.resource].props" ng-switch on="prop.name">
                        <div ng-show="ad.viewState.table.editMode">
                            <input type="checkbox" ng-change="ad.save(scout.id, scout, ad.resources[ad.resource].name)" class="form-control" ng-model="scout.healthForm"
                                ng-switch-when="healthForm" />
                            <input type="checkbox" ng-change="ad.save(scout.id, scout, ad.resources[ad.resource].name)" class="form-control" ng-model="scout.paid"
                                ng-switch-when="paid" />
                            <input type="checkbox" ng-change="ad.save(scout.id, scout, ad.resources[ad.resource].name)" class="form-control" ng-model="scout.paidInFull"
                                ng-switch-when="paidInFull" />
                            <input type="checkbox" ng-change="ad.save(scout.id, scout, ad.resources[ad.resource].name)" class="form-control" ng-model="scout.super"
                                ng-switch-when="super" />
                            <input type="checkbox" ng-change="ad.save(scout.id, scout, ad.resources[ad.resource].name)" class="form-control" ng-model="scout.admin"
                                ng-switch-when="admin" />
                            <input type="checkbox" ng-change="ad.save(scout.id, scout, ad.resources[ad.resource].name)" class="form-control" ng-model="scout.director"
                                ng-switch-when="director" />
                            <input type="checkbox" ng-change="ad.save(scout.id, scout, ad.resources[ad.resource].name)" class="form-control" ng-model="scout.reservation"
                                ng-switch-when="reservation" />
                            <input type="checkbox" ng-change="ad.save(scout.id, scout, ad.resources[ad.resource].name)" class="form-control" ng-model="scout.goldCard"
                                ng-switch-when="goldCard" />
                            <input type="text" ng-change="ad.save(scout.id, scout, ad.resources[ad.resource].name)" class="form-control" ng-model="scout.receiptNum"
                                ng-switch-when="receiptNum" />
                            <input type="text" ng-change="ad.save(scout.id, scout, ad.resources[ad.resource].name)" class="form-control" ng-model="scout.paymentDate"
                                ng-switch-when="paymentDate" />
                            <input type="text" ng-change="ad.save(scout.id, scout, ad.resources[ad.resource].name)" class="form-control" ng-model="scout[prop.name]"
                                ng-switch-default />
                        </div>

                        <div ng-show="!ad.viewState.table.editMode" ng-switch on="prop.name">
                            <span>
                            {{ !!scout[prop.name]!==scout[prop.name]? scout[prop.name] : scout[prop.name]? "Yes" : "No"}}
                            </span>
                        </div>
                        <!--<span ng-switch-default>{{scout[prop.name]}}</span>-->

                    </td>
                    <td ng-if="ad.resources[ad.resource].name == 'scouts'" title="'Remove'">
                        <button type="button" class="btn btn-danger" ng-click="ad.remove(scout.id, scout, $index)"> <i class="material-icons">&#xE92B;</i></button>
                    </td>

                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-primary btn-raised" ng-click="ad.saveAll(ad.reservation)">Save All Changes</button>
    </div>
    </div>
    </div>