<div class='elevated-box'>
    <div class="alert alert-success alert-dismissable" ng-if="!!$ctrl.message" >
    <button type="button" class="close" data-dismiss="alert" ng-click="$ctrl.messageClear()">x</button>
    <p>{{$ctrl.message}}</p>
  </div>
  <div class="alert alert-danger alert-dismissable" ng-if="!!$ctrl.error" >
    <button type="button" class="close" data-dismiss="alert" ng-click="$ctrl.errorClear()">x</button>
    <p>{{$ctrl.error}}</p>
  </div>
    <form ng-submit="$ctrl.addSomething(ac.resource, ac.object, ac.year, ac.num, ac.location, ac.locName, ac.date, ac.end, ac.levels, ac.start, ac.endTime, ac.max)">
        <div class="form-group">
            <label> I want to add...</label>
            <div class="select-container">
                <i class="material-icons">&#xE313;</i>
                <select class="form-control" ng-model='ac.resource'>
                    <option  value="years">Year</option>
                    <option value="camps">Camp</option>
                </select>
            </div>
        </div>

    <div ng-if="ac.resource == 'years'" class="form-group">
        <h1>Years</h1>
        <input type="text" class="form-control" ng-model='ac.object' required placeholder="2020">
          <button type="submit" class="btn btn-primary btn-raised">Make a new YEAR!</button>

    </div>
    <div ng-if="ac.resource == 'camps'" class="form-group">
        <h1>Camps</h1>
        <input type="text" class="form-control" ng-model='ac.object' required placeholder="camp">
        <input type = "text" class="form-control" ng-model='ac.year' required placeholder="2017">
        <!--<select class="form-control" ng-model='ac.year'>
                    <option  value="All">All</option>
                    <option value="Webelo">Webelo</option>
                </select>-->
        <input type="text" class="form-control" ng-model='ac.num' required placeholder="Camp Number">
        <input type="text" class="form-control" ng-model='ac.location' required placeholder="location">
        <input type="text" class="form-control" ng-model='ac.locName'required  placeholder="location Name">
        <input type="text" class="form-control" ng-model='ac.date' required placeholder="start date">
        <input type="text" class="form-control" ng-model='ac.end' required  placeholder="end date">
        

        <select class="form-control" required ng-model='ac.levels'>
                    <option  value="All">All</option>
                    <option value="Webelo">Webelo</option>
                </select>
        <input type="text" class="form-control" ng-model='ac.start' required placeholder="Start Time">
        <input type="text" class="form-control" ng-model='ac.endTime'required  placeholder="End Time">
        <input type="text" class="form-control" ng-model='ac.max' required placeholder="Max Scouts">
          <button type="submit" class="btn btn-primary btn-raised">Make a new CAMP!</button>

    </div>
    </form>
</div>