<div>
    <h1> HOWDY  this is a proof of concept       </h1>
    <table class='table' show-filter='true'>
            <h1>IDK</h1>
        <tr ng-repeat="camp in $ctrl.camps">
            <script>
                camp.getAvailability();
            </script>
            <td title="'Camp Number'" filter=" {campNum: 'number'}" sortable: 'campNum'>
                {{camp.campNum}}</td>
            <td title="'Start Date'" filter=" {date: 'number'}" sortable: 'date'>
                {{camp.date}}</td>
            <td title="'Max Size'" filter=" {maxSize: 'number'}">
                {{camp.maxSize}}</td>
            <td title="'Availability'" filter=" {availability: 'number'}" sortable: 'availability'>
                {{camp.availability}}</td>
            <td title="'Location'" filter=" {location: 'number'}" sortable: 'location'>
                {{camp.location}}</td>
            <td title="'Ages'" filter=" {scoutLevels: 'text'}" sortable: 'scoutLevels'>
                {{camp.scoutLevels}}</td>

            <td title="'Camp Number'" filter=" {campNum: 'number'}" sortable: 'campNum'>
                {{camp.campNum}}</td>

    </table>
    <!--add a progress bar.  160 long. green for confirmed. red for pending.-->



</div>