    <div class="row">
        <div class="col-sm-10 col-sm-offset-1" ng-controller="avController as av">
            <div class="elevated-box">
                <legend for="nasda">Camp Year</legend>
                <select name="nada"
                        id="nasda" 
                        ng-model="av.selectedYearIndex" 
                        class="form-control"
                        multiple=""
                        ng-change="av.setCamps()"
                        >
                    <option ng-repeat="year in years" value="{{$index}}">{{year.year}}</option>
                </select>
            </div>
            <div class="elevated-box">
                <legend>Camps in {{av.currentYear}}</legend>
                <table class='table' show-filter='true'>
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Date</th>
                            <th>Ages</th>
                            <th>Location</th>
                            <th>Max Size</th>
                            <th class="row">
                                    <span class="col-sm-6 text-left">
                                        Availability
                                    </span>
                                    <span class="col-sm-6 text-right">
                                        <span class="label label-danger">confirmed</span>
                                        <span class="label label-warning">pending</span>
                                        <span class="label label-success">availiable</span>
                                    </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="camp in av.camps">
                            <td title="'Camp Number'" filter=" {campNum: 'number'}" sortable: 'campNum'>
                                {{camp.campNum}}</td>
                            <td title="'Start Date'" filter=" {date: 'number'}" sortable: 'date'>
                                {{camp.date}}</td>
                            <td title="'Ages'" filter=" {scoutLevelx: 'text'}" sortable: 'scoutLevels'>
                                {{camp.scoutLevels}}</td>
                            <td title="'Location'" filter=" {location: 'number'}" sortable: 'location'>
                                {{camp.location}}</td>
                            <td title="'Max Size'" filter=" {maxSize: 'number'}">
                                {{camp.maxScouts}}</td>
                            <td title="'Availability'" filter=" {Availability: 'number'}" sortable: 'availability'>
                                <label>{{camp.availability}} Spots Available</label>
                                
                                <div class="progress">
                                        <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar"  style="width: {{(camp.confirmedReservations/camp.maxScouts)*100}}%;">
                                            {{camp.confirmedReservations}}
                                        </div>
                                        <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar"  style="width: {{(camp.pendingReservations/camp.maxScouts)*100}}%;">
                                            {{camp.pendingReservations}}
                                        </div>
                                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"  style="width: {{(camp.availability/camp.maxScouts)*100}}%;">
                                            {{camp.availability}}
                                        </div>
                                </div>
                            <div class="text-right">
                                <a ui-sref="reg({campnum:camp.campNum})" target="_blank">
                                    <button class="btn btn-primary btn-raised">
                                        Register for Camp #{{camp.campNum}}
                                    </button>
                                </a>
                            </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--add a progress bar.  160 long. green for confirmed. red for pending.-->
            </div>
        </div>
    </div>