<div ng-controller="avController as av">
    <table class='table' show-filter='true'>
            <h1>IDK</h1>
        <tr ng-repeat="camp in av.camps">
            <td >
                {{camp.campNum}}</td>
            <td title="'Start Date'" >
                {{camp.date}}</td>
            <td title="'Max Size'" >
                {{camp.maxSize}}</td>
            <td title="'Availability'">
                {{camp.availability}}</td>
            <td title="'Location'" >
                {{camp.location}}</td>
            <td title="'Ages'">
                {{camp.scoutLevels}}</td>

            <td title="'Camp Number'">
                {{camp.campNum}}</td>
        </tr>

    </table>
    <!--add a progress bar.  160 long. green for confirmed. red for pending.-->



</div>