<div class="elevated-box">
    <h1>Welcome {{$ctrl.dirObj.displayName}}</h1>
    </div>
    <div class="elevated-box">
<table class="table">
    <tr>
        <th>Camp</th>
        <th>Date</th>
        <th>Location</th>
        <th></th>
        <th></th>
    </tr>
    <tr ng-repeat="camp in $ctrl.campList">
        <td>{{camp.campNum}}</td>
        <td>{{camp.date}}</td>
        <td>{{camp.location}}</td>
        <td><button class="btn btn-raised btn-primary" ng-click="$ctrl.goToCamp(camp.id)">View Camp Details</button></td>
        <td><button class="btn btn-raised btn-danger" ui-sref="groups({campId: camp.id})">Build/View Groups</button></td>
    </tr>
</table>
</div>