<div>
    <h1>Welcome DIRECTOR NAME</h1>
<table>
    <tr>
        <th>Camp</th>
        <th>Date</th>
        <th>Location</th>
        <th></th>
        <th></th>
    </tr>
    <tr ng-repeat="camp in $ctrl.campList">
        <td>{{camp.campNum}}</td>
        <td>{{camp.date}}</td>
        <td>{{camp.location}}</td>
        <td><button ng-click="$ctrl.goToCamp(camp.id)">View/Edit Camp Details</button></td>
        <td><button ui-sref="groups({campId: camp.id})">Build/View Groups</button></td>
    </tr>
</table>
</div>