<div class="elevated-box">
    <div class="sort-buttons">
        <button class="btn btn-primary btn-raised" ng-click="$ctrl.colorPackSort($ctrl.scoutList)">Sort by Color</button>
        <button class="btn btn-success btn-raised" ng-click="$ctrl.packColorSort($ctrl.scoutList)">Sort by Unit</button>
        <button class="btn btn-danger btn-raised" ng-click="$ctrl.nameSort($ctrl.scoutList)">Sort by Name</button>
    </div>
</div>
<div class=" elevated-box group-button-well">
    <button class="group-button btn btn-raised btn-warning" ng-click="$ctrl.createGroups()">Sort Scouts into New Groups</button>
    <button class="save-button btn btn-raised btn-warning">Save Changes and Re-Order List</button>
</div>
<div class="elevated-box scout-table">
    <table class='table'>
        <tr>
            <th>Pack</th>
            <th>Name</th>
            <th>Camp Group</th>
        </tr>
        <tr data-ng-repeat="scout in $ctrl.scoutList">
            <td>Pack {{ scout.packNum }}</td>
            <td>{{ scout.name }}</td>
            <td>
                <div class="select-container">
                    <i class="material-icons">&#xE313;</i>
                    <select name="color" class="form-control inline" ng-show="scout.color" style="display:inline;" ng-model="scout.color" id="{{ scout.id }}">
                    <option value="red" style="background-color: #e71800">red</option>
                    <option value="orange" style="background-color: #de7206">orange</option>
                    <option value="yellow" style="background-color: #f3f016">yellow</option>
                    <option value="lightgreen" style="background-color: #21da00">light green</option>
                    <option value="darkgreen" style="background-color: #127500">dark green</option>
                    <option value="lightblue" style="background-color: #369eff">light blue</option>
                    <option value="darkblue" style="background-color: #03019b">dark blue</option>
                    <option value="purple" style="background-color: #6903af">purple</option>
                    <option value="black" style="background-color: #1c1c1c">black</option>
                    <option ng-if="$ctrl.camp.scoutLevels == 'all'" value="brown" style="background-color: #643f25">brown</option>
                </select>
                </div>
            </td>
        </tr>
    </table>
</div>