<nav class="navbar navbar-default navbar-static-top">
<div class="col-sm-12">
<div class="alert alert-danger alert-dismissable" ng-if="!!nc.error">
        <button type="button" class="close" data-dismiss="alert" ng-click="nc.reset()">x</button>
        <p>{{nc.error}}</p>
    </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

            <button class="btn btn-info btn-raised"  ng-click="nc.test()">test</button>
    
            <button class="btn btn-info btn-raised"  ui-sref="campavail">Home</button>
            <button class="btn btn-success btn-raised" ui-sref="login">Login</button>
            <button class = "btn btn-success btn-raised"  ng-click= "nc.test()">View Your Reservation</button>
            <button class = "btn btn-success btn-raised"  ng-click= "nc.director()">Camp Directors</button>
            <button class="btn btn-primary btn-raised" ui-sref="faq">FAQ</button>
            <button class="btn btn-danger btn-raised" ng-click= "nc.admin()">Admin</button>


            </span>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

<!--  
▒▒▒▒▒▄██████████▄▒▒▒▒▒
▒▒▒▄██████████████▄▒▒▒ 
▒▒██████████████████▒▒ 
▒▐███▀▀▀▀▀██▀▀▀▀▀███▌▒ 
▒███▒▒▌■▐▒▒▒▒▌■▐▒▒███▒ 
▒▐██▄▒▀▀▀▒▒▒▒▀▀▀▒▄██▌▒ 
▒▒▀████▒▄▄▒▒▄▄▒████▀▒▒ 
▒▒▐███▒▒▒▀▒▒▀▒▒▒███▌▒▒ 
▒▒███▒▒▒▒▒▒▒▒▒▒▒▒███▒▒ 
▒▒▒██▒▒▀▀▀▀▀▀▀▀▒▒██▒▒▒
▒▒▒▐██▄▒▒▒▒▒▒▒▒▄██▌▒▒▒ 
▒▒▒▒▀████████████▀▒▒▒▒
WE MISS YOU HARAMBE!!!
-->