<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <div class="header-awesome header-fixed-top">
                <h1>
                    <!--Nature Person-->
                    <i class="material-icons">&#xE407;</i>
                    Sign Up Your Scouts
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="buffer-section"></div>
<div ng-controller="RegController as rc" class="container">
    <ng-form>
        <fieldset ng-disabled="false">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-3">
                    <form-camp/>
                    <div class="row">
                        <div class="col-sm-6">
                            <form-first-contact/>
                        </div>
                        <div class="col-sm-6">
                            <form-second-contact/>
                        </div>
                    </div>
                        <div class="elevated-box">
                            <div class="form-horizontal">
                                <legend>
                                    Password
                                </legend>
                                <input type="password" class="form-control" ng-model="rc.password">
                                <small>This will be the account password for both the first and second contacts to login and edit/view the reservation with</small>
                            </div>
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-3">
                    <form-bsa-adult/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-3">
                    <bar-action/>
                    <form-adult/>
                    <form-camper/>
                </div>
                <div class="col-sm-8 col-sm-offset-3">
                    <table-adults/>
                </div>
                <!--Campers Table-->
                <div class="col-sm-8 col-sm-offset-3">
                    <table-campers/>
                </div>
            <div class="buffer-section"></div>
                <div class="col-sm-1 col-sm-offset-4">
                    <button ng-click="rc.sendForm()" class="btn btn-lg btn-danger btn-raised" type="submit">Submit Form</button>
                </div>
            </div>
        </fieldset>
    </ng-form>
    <div class="buffer-section"></div>

    <!--<table-adults/>
    <table-campers/>-->
</div>