<div class="elevated-box">
    <table class="table">
        <tr>
            <td>Camp Number</td>
            <td>{{ $ctrl.camp.campNum }}</td>
        </tr>
        <tr>
            <td>Date</td>
            <td>{{ $ctrl.camp.date }}</td>
        </tr>
        <tr>
            <td>Start Time</td>
            <td>{{ $ctrl.camp.startTime }}</td>
        </tr>
        <tr>
            <td>End Time</td>
            <td>{{ $ctrl.camp.endTime }}</td>
        </tr>
        <tr>
            <td>Scout Levels</td>
            <td>{{ $ctrl.camp.scoutLevels }}</td>
        </tr>
        <tr>
            <td>Number of Groups</td>
            <td>{{ $ctrl.camp.numGroups }}</td>
        </tr>
        <tr>
            <td>Max Group Size</td>
            <td>{{ $ctrl.camp.groupSize }}</td>
        </tr>
    </table>
</div>