<div ng-controller="RegController as rc" class="container">
    <div class="row">
        <div class="col-xs-6">
            <img src="http://images.memes.com/meme/605614" style="height: 350px; width: 350px; margin: 20px;">
        </div>
        <div class="col-xs-6 text-center">
            <div class="row">
                <div class="inputs">
                    <div class="col-xs-6">
                        <input ng-model="rc.packNum" type="text" placeholder="Pack Number">
                    </div>
                    <div class="col-xs-6">
                        <input ng-model="rc.campNum" type="text" placeholder="Camp Number">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="contacts">
                        First Contact: <input ng-model="rc.firstContact.first" type="text" placeholder="First Name">
                        <input ng-model="rc.firstContact.last" class="inputs" type="text" placeholder="Last Name">
                        <input ng-model="rc.firstContact.position" class="inputs" type="text" placeholder="Position">
                        <input ng-model="rc.firstContact.email" class="inputs" type="text" placeholder="Email">
                        <input ng-model="rc.firstContact.phone" class="inputs" type="text" placeholder="Cell Phone">
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="contacts">
                        Second Contact: <input ng-model="rc.secondContact.first" type="text" placeholder="First Name">
                        <input ng-model="rc.secondContact.last" class="inputs" type="text" placeholder="Last Name">
                        <input ng-model="rc.secondContact.position" class="inputs" type="text" placeholder="Position">
                        <input ng-model="rc.secondContact.email" class="inputs" type="text" placeholder="Email">
                        <input ng-model="rc.secondContact.phone" class="inputs" type="text" placeholder="Cell Phone">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <h3>BSA Registered Adult:</h3>
            <thead>
                <tr>
                    <th>Position</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Date Registered</th>
                    <th>Shirt Size</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Den Leader</td>
                    <td><input ng-model="rc.regAdult.first" type="text" placeholder="First Name" required></td>
                    <td><input ng-model="rc.regAdult.last" type="text" placeholder="Last Name" required></td>
                    <td><input ng-model="rc.regAdult.date" type="text" placeholder="Date Registered" required></td>
                    <td>
                        <select ng-model="rc.regAdult.shirt" class="form-control">
                                <option>No Shirt</option>
                                <option>Youth Medium</option>
                                <option>Youth Large</option>
                                <option>Adult Small</option>
                                <option>Adult Medium</option>
                                <option>Adult Large</option>
                                <option>Adult XL</option>
                                <option>Adult 2XL</option>
                        </select>
                    </td>
                </tr>
        </table>
        <div class="adult" ng-show="rc.adultNeeded || rc.reg.adults.length == 0">
        <h3>Add Adult</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Position</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Shirt Size</th>
                </tr>
            </thead>
            <tbody>
              
                <tr>
                    <td>Adult</td>
                    <td><input ng-model="rc.currentAdult.first" type="text" placeholder="First Name" required></td>
                    <td><input ng-model="rc.currentAdult.last" type="text" placeholder="Last Name" required></td>
                    <td>                    

                        <select ng-model="rc.currentAdult.shirt" class="form-control">
                                <option>No Shirt</option>
                                <option>Youth Medium</option>
                                <option>Youth Large</option>
                                <option>Adult Small</option>
                                <option>Adult Medium</option>
                                <option>Adult Large</option>
                                <option>Adult XL</option>
                                <option>Adult 2XL</option>
                            </select>

                    </td>
                    <td><button class="btn btn-primary" ng-click="rc.addAdult(rc.currentAdult)">Submit</button></td>
                </tr>
            </tbody>
        </table>
        </div>
    
        <div class="camper" ng-show="!rc.adultNeeded && rc.reg.adults.length !== 0">
        <h3>Add Campers</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Position</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Shirt Size</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <td>Scout</td>
                    <td><input ng-model="rc.currentCamper.first" type="text" placeholder="First Name" required></td>
                    <td><input ng-model="rc.currentCamper.last" type="text" placeholder="Last Name" required></td>
                    <td>
                        <select ng-model="rc.currentCamper.shirt" class="form-control" required>
                                <option>Youth Medium</option>
                                <option>Youth Large</option>
                                <option>Adult Small</option>
                                <option>Adult Medium</option>
                                <option>Adult Large</option>
                                <option>Adult XL</option>
                                <option>Adult 2XL</option>
                        </select>
                    </td>
                    <td><button class="btn btn-success" ng-click="rc.addCamper(rc.currentCamper)">Submit</button></td>
                </tr>
            </tbody>
        </table>

        </div>
        <table class="table">
            
            <thead>
                <tr>
                    <th>Position</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Shirt Size</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="person in rc.reg.adults">
                    <td>Adult</td>
                    <td>{{ person.first }}</td>
                    <td>{{ person.last }}</td>
                    <td>{{ person.shirt }}</td>
                </tr>
               
            </tbody>
        </table>
        <table class="table">
            
            <thead>
                <tr>
                    <th>Position</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Shirt Size</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="person in rc.reg.campers">
                    <td>Scout</td>
                    <td>{{ person.first }}</td>
                    <td>{{ person.last }}</td>
                    <td>{{ person.shirt }}</td>
                </tr>
                
            </tbody>
        </table>

        <button ng-click="rc.sendForm()" class="btn btn-danger">Submit Form</button>
    </div>

</div>